@import "tailwindcss";

:root {
  @import "../node_modules/highlight.js/styles/github.css";
  --background: 255 255 255;
  --foreground: 23 23 23;
  --muted: 115 115 115;
  --border: 229 229 229;
  --border-hover: 163 163 163;
  --card: 255 255 255;
  --card-hover: 250 250 250;
  --primary: 23 23 23;
  --primary-hover: 64 64 64;
  --danger: 242 67 70;
  --danger-hover: 220 50 54;
}

.dark {
  @import "../node_modules/highlight.js/styles/github-dark.css";
  --background: 23 23 23;
  --foreground: 250 250 250;
  --muted: 163 163 163;
  --border: 64 64 64;
  --border-hover: 115 115 115;
  --card: 38 38 38;
  --card-hover: 45 45 45;
  --primary: 255 255 255;
  --primary-hover: 230 230 230;
  --danger: 242 67 70;
  --danger-hover: 220 50 54;
}

.disable-transitions,
.disable-transitions *,
.disable-transitions *::before,
.disable-transitions *::after {
  transition-property: none !important;
  transition-duration: 0s !important;
  animation: none !important;
  animation-name: none !important;
  animation-duration: 0s !important;
  opacity: 1 !important;
}

html.disable-animations,
html.disable-animations *,
html.disable-animations *::before,
html.disable-animations *::after,
.disable-animations,
.disable-animations *,
.disable-animations *::before,
.disable-animations *::after {
  transition: none !important;
  transition-property: none !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  animation: none !important;
  animation-name: none !important;
  animation-duration: 0s !important;
  animation-delay: 0s !important;
  opacity: 1 !important;
}

html.disable-animations *:not([data-popper-placement]),
.disable-animations *:not([data-popper-placement]) {
  transform: none !important;
  transition: none !important;
  transition-property: none !important;
  transition-duration: 0s !important;
  transition-delay: 0s !important;
  animation: none !important;
  animation-name: none !important;
  animation-duration: 0s !important;
  animation-delay: 0s !important;
  opacity: 1 !important;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
