@import "tailwindcss";

:root {
  @import "../node_modules/highlight.js/styles/github.css";
  --background: 255 255 255;
  --foreground: 23 23 23;
  --muted: 115 115 115;
  --border: 229 229 229;
  --border-hover: 163 163 163;
  --card: 255 255 255;
  --card-hover: 250 250 250;
  --primary: 23 23 23;
  --primary-hover: 64 64 64;
}

.dark {
  @import "../node_modules/highlight.js/styles/github-dark.css";
  --background: 23 23 23;
  --foreground: 250 250 250;
  --muted: 163 163 163;
  --border: 64 64 64;
  --border-hover: 115 115 115;
  --card: 38 38 38;
  --card-hover: 45 45 45;
  --primary: 255 255 255;
  --primary-hover: 230 230 230;
}

.disable-transitions,
.disable-transitions * {
  transition: none !important;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
